<style>
    tr th{
        padding: 4px;
    }
</style>

<% if(count!=null) {%>
    <h1>Count = <%=count%></h1>    
<% } %>

<% if(student!=null) { %>
    <table border="1px">
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>WAD Marks</th>
            <th>CC Marks</th>
            <th>DSBDA Marks</th>
            <th>CNS Marks</th>
            <th>AI Marks</th>
        </tr>
        <% student.forEach(function(item){ %>
            <tr>
                <td><%= item.Name%></td>
                <td><%= item.Roll_No%></td>
                <td><%= item.WAD_Marks%></td>
                <td><%= item.CC_Marks%></td>
                <td><%= item.DSBDA_Marks%></td>
                <td><%= item.CNS_Marks%></td>
                <td><%= item.AI_Marks%></td>
                <td>
                    <form action="/deleteStudent/<%=item._id %>" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="/updateStudent/<%=item.Roll_No %>/10" method="post">
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>

        <% }) %>
    </table>
<%} %>